header{
    padding:20px;
    .container{
        overflow:hidden;
        border-bottom:1px solid #333;
        padding: 30px 0;
        line-height: 0;
    }
    .logo{
        float:left;
        width:250px;
        margin-bottom:0;
    }
    nav{
        float:right;
    }
    .header_navi{
        display :flex;
        justify-content:space-between;
        width:500px;
        li{
            border-left:1px solid #333;
            width:32%;
            a{
                color:#333;
                text-decoration:none;
                display:block;
                width:100%;
                padding:20px;
            }
        }
    }
}

.topimg{
    width:900px;
    margin:0 auto;
}